{% extends "base.html" %}

{% block title %}회사 소개{% endblock %}

{% block content %}

<section class="vision">
    <h2>비전과 미션</h2>
    <p>
        <strong>키즈브릿지</strong>는 아이들의 현재와 미래를 연결하는 창의적인 교육 프로그램을 제공합니다.<br>
        아이들이 일반적으로 접하기 쉽지 않은 교육 내용을 통해, <strong>균형있는 성장</strong>을 기대합니다. <br>
        특히, <strong>글로벌 시대에 발맞춰 언어와 다양한 문화를 경험</strong>할 수 있는 기회를 제공합니다. 
    </p>
</section>

<section class="strength">
    <h2>왜 키즈브릿지인가?</h2>
    <div class="strength-boxes">
        <div class="strength-box">
            <h3>고객 맞춤형 프로그램 제공</h3>
            <p>자체 개발/보유한 프로그램 뿐만 아니라, <br> 고객의 니즈에 맞추어 신규 컨텐츠를 개발하고 제공합니다.</p>
        </div>
        <div class="strength-box">
            <h3>다수의 프로그램 보유</h3>
            <p>원어민 영어(교재, 체육, 만들기, 문화 체험 수업 등), <br> 경제(경제수학, CEO체험 등), 오감 수업 등 <br>다수의 컨텐츠를 보유하고 있습니다.</p>
        </div>
        <div class="strength-box">
            <h3>다양한 고객 대상 진행 경험</h3>
            <p>어린이집 및 유치원, 문화센터 및 복지시설, 키즈카페, 북클럽 등을 <br> 대상으로 각각의 특색에 맞추어 수업을 진행하고 있습니다.</p>
        </div>
        <div class="strength-box">
            <h3>원어민 강사 관리 노하우 보유</h3>
            <p>약 150개의 기관을 대상으로 원어민 영어 정규수업을 진행하였으며, <br> 국적, 성별 등 고객 요구에 맞는 원어민 파견이 가능합니다. </p>
        </div>
    </div>
</section>

<section class="client">
    <h2>주요 고객</h2>
    <div class="client-logos">
        <div class="client-logo">
            <img src="{{ url_for('static', filename='images/gangnamgu.png') }}" alt="Gangnam District Logo">
            <p>강남구어린이회관</p>
        </div>
        <div class="client-logo">
            <img src="{{ url_for('static', filename='images/nolbal.jpg') }}" alt="Nolbal Logo">
            <p>놀이의발견</p>
        </div>
    </div>
</section>

{% endblock %}
