<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KidsBridge{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include "header.html" %} <!-- Header 포함 -->

    <!-- 메인 콘텐츠 -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %} <!-- Footer 포함 -->
</body>
</html>
