{% extends 'base.html' %}

{% block content %}
<section class="contact-section">
    <h1>Contact Us</h1>
    <p>아래 정보를 통해 키즈브릿지에 연락하실 수 있습니다.</p>

    <hr>

    <div class="contact-info">
        <div class="info-item">
            <p>이메일: kids_bridge@naver.com</p>
        </div>
        <div class="info-item">
            <p>연락처: 010-9360-5887(한윤근)</p>
        </div>
        <div class="info-item">
            <p>주소: 서울시 영등포구 문래동5가 2, 406호</p>
        </div>
    </div>

    <hr>

    <div class="sns-links">
        <p>SNS <a href="https://www.instagram.com" target="_blank">네이버블로그</a></p>
    </div>
</section>

{% endblock %}
