{% extends "base.html" %}

{% block title %}홈{% endblock %}

{% block content %}
<div class="main-banner">
    <h1>Welcome to KidsBridge</h1>
    <p>아이들의 창의력을 키우는 최고의 교육 프로그램</p>
</div>

<!-- 키즈브릿지 소개 섹션 -->
<section class="index-about-section animate-on-scroll">
    <h2>키즈브릿지 소개</h2>
    <p>
        <strong>키즈브릿지</strong>는 아이들을 위한 창의력을 키우는 것을 목표로 혁신적인 <em>교육 서비스</em>를 제공합니다.
    </p>
    <p>
        <strong>유아 및 초등학생</strong>을 대상으로 연령에 적합한 다양한 교육 프로그램을 제공하며, <br> 
        아이들의 <em>성장과 배움</em>을 돕는 최고의 환경을 조성합니다.
    </p>
    <div class="more-box">
        <a href="/about" class="btn-more">더 보기</a>
    </div>
</section>

<!-- 서비스 소개 섹션 -->
<section class="services animate-on-scroll">
    <h2>서비스 소개</h2>
    <div class="service-boxes">
        <div class="service-box">
            <img src="{{ url_for('static', filename='images/play.jpg') }}" alt="놀이 영어" class="service-img">
            <h3>원어민 놀이 영어</h3>
            <p>노래/율동, 만들기, 신체 활동, 롤플레이 등 원어민과 함께하는 다양한 활동을 통해 <br> 아이들이 즐겁게 영어를 배울 수 있습니다.</p>
        </div>
        <div class="service-box">
            <img src="{{ url_for('static', filename='images/one-day.jpg') }}" alt="원데이 클래스" class="service-img">
            <h3>원데이 클래스</h3>
            <p>경제수업, 정서수업, 세계 문화 수업 등 <br> 아이들이 흥미를 느낄 수 있는 <br> 다양한 주제로 수업을 제공합니다.</p>
        </div>
        <div class="service-box">
            <img src="{{ url_for('static', filename='images/event.png') }}" alt="행사" class="service-img">
            <h3>행사</h3>
            <p>원어민과 함께하는 크리스마스, 올림픽, <br> 캠핑, 공항 등의 테마로 아이들이 즐길 수 있는 일회성 체험수업입니다.</p>
        </div>
    </div>

    <div class="more-box">
        <a href="/services" class="btn-more">더 보기</a>
    </div>
</section>
{% endblock %}
